* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BACKGROUND COLOR */
.sy-nav-foot-bgcolor{
    background-color: #3a546d;
}
.sy-aqua-green-bgcolor{
    background-color: #1abc9c;
}
.sy-copyright-bgcolor{
    background-color: #2c3e50;
}

/* HEADER  */
#head-center-content img{
    width: 150px;
}
.sy-white-hr:before, .sy-white-hr:after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100px;
    background-color: white;
    margin: 0 10px;
}
.sy-font-08rem{
    font-size: 0.8rem !important;
}

/* MAIN  */
.sy-black-hr:before, .sy-black-hr:after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: black;
    margin: 0 10px;
}
.circle-social{
    padding: 5px 8px;
    border-radius: 50%;
    border: 1px solid white;
}

/* FOOTER  */
#social a{
    color: #1abc9c;
}

